@import "tailwindcss";

@layer utilities {
  .container {
    margin-right: auto;
    margin-left: auto;
    padding-inline: 0.5rem;

    @media (width >= 40rem) {
      padding-inline: 1rem;
    }
    .animate-1 {
      animation-delay: 100ms;
    }
    .animate-2 {
      animation-delay: 200ms;
    }
    .animate-3 {
      animation-delay: 300ms;
    }
    .animate-4 {
      animation-delay: 400ms;
    }
    .animate-5 {
      animation-delay: 500ms;
    }
  }

  @theme {
    --font-pathway-p: "Sora", system-ui, sans-serif;
    --font-pathway-s: "Inter", system-ui, sans-serif;
    --animate-fadeIn: fadeIn 0.4s ease-in-out forwards;
    --animate-slideIn: slideIn 0.4s ease-in-out forwards;
    --animate-slideInContent: slideInContent 0.2s ease-out forwards;

    @keyframes slideIn {
      0% {
        opacity: 0;
        transform: translateX(-20px);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }

    @keyframes slideInContent {
      0% {
        transform: translateX(-20px);
      }
      100% {
        transform: translateX(0);
      }
    }
    
    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}
